.menu-container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.menu-list {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
}

.order-summary {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    height: fit-content;
    position: sticky; /* Truco para que el resumen te siga al bajar */
    top: 20px;
}

.product-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ddd;
    transition: transform 0.2s, border-color 0.2s;
}

.product-card:hover {
    border-color: #f28500;
    transform: translateY(-3px);
}

.btn-add {
    background: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

.btn-add:hover {
    background: #218838;
}

.btn-confirmar {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #f28500;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 20px;
    transition: background 0.3s;
}

.btn-confirmar:hover {
    background-color: #d97700;
}