<div id="zona-pedido" class="right-panel">
    
    <div class="order-header">
        <div>
            <h3 class="order-title">Orden Actual</h3>
            <small class="order-id">Pedido #{{ pedido.id }}</small>
        </div>
        <span class="order-badge">Mesa {{ mesa.numero }}</span>
    </div>

    <div class="order-list">
        {% for item in pedido.items.all %}
        <div class="order-item">
            <div class="qty-vertical">
                <button class="qty-btn" 
                        hx-get="{% url 'pedidos:modificar_cantidad' item.id 'sumar' %}" 
                        hx-target="#zona-pedido" 
                        hx-swap="outerHTML">
                    +
                </button>
                
                <span class="qty-val">{{ item.cantidad }}</span>
                
                <button class="qty-btn" 
                        hx-get="{% url 'pedidos:modificar_cantidad' item.id 'restar' %}" 
                        hx-target="#zona-pedido" 
                        hx-swap="outerHTML">
                    -
                </button>
            </div>

            <div class="item-info">
                <span class="item-name">{{ item.producto.nombre }}</span>
                <span class="item-notes">
                    </span>
            </div>
            
            <span class="item-total">${{ item.subtotal }}</span>
        </div>
        {% empty %}
        <div style="text-align: center; color: #9CA3AF; margin-top: 50px;">
            <i class="fas fa-shopping-basket" style="font-size: 3rem; opacity: 0.2;"></i>
            <p>La orden está vacía</p>
        </div>
        {% endfor %}
    </div>

    <div class="order-footer">
    {% if pedido.estado == 'borrador' and pedido.items.exists %}
        <a href="{% url 'pedidos:confirmar_pedido' pedido.id %}" style="text-decoration: none;">
            <button class="btn-confirm">
                Confirmar Pedido <i class="fas fa-check"></i>
            </button>
        </a>

    {% elif pedido.estado == 'confirmado' or pedido.estado == 'listo' %}
        
        <div style="text-align: center; margin-bottom: 10px; font-weight: bold; color: {% if pedido.estado == 'listo' %}#10B981{% else %}#F59E0B{% endif %};">
            {% if pedido.estado == 'listo' %}
                <i class="fas fa-bell"></i> ¡Orden Lista para Servir!
            {% else %}
                <i class="fas fa-clock"></i> Cocinando...
            {% endif %}
        </div>

        <a href="{% url 'pedidos:pagar_pedido' pedido.id %}" style="text-decoration: none;">
            <button class="btn-confirm" style="background: #111827;"> Cobrar y Liberar Mesa <i class="fas fa-cash-register"></i>
            </button>
        </a>

    {% endif %}

    <div class="action-buttons">
        <a href="#" onclick="window.close()" class="btn-secondary">Cerrar Ventana</a>
    </div>
</div>